<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
      <title>JaniceIlene</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  
  <body>
  <header>
    <div class="head">
      <h1>Janice Niemeir</h1>
      <h3 class="email">janice.guerrero@gmail.com</h3>
    </div>
  </header>
  
  <nav>
    <ul class="nav">
      <li><a href="#skills">Special Skills</a></li>
      <li><a href="#employ">Previous Employment</a></li>
      <li><a href="#edCert">Education & Certifications</a></li>
      <li><a href="#refs">References</a></li>
    </ul>
  </nav>
  
    <section>
      <h2 id="skills">Special Skills & Interests</h2>
      <p>
        Connoisseur of intro to HTML/CSS/JavaScript tutorials. “Significant Other Track” enthusiast. Constant travel coordinator. Happy working conference booths. Produced a world premiere musical about Albert Einstein. Basic Spanish skills. Love of spreadsheets. Writing theatrical programs and press releases. Set and costume construction. Challenge course facilitator. Leading campfires.
      </p>
    </section>
    
      <h2 id="employ">Previous Employment</h2>
    
    <section>
      <div class="container">
        <div class="left">Project Manager (Remote)</div>
        <div class="center">Burgeon Group</div>
        <div class="right">2013-2016</div>
      </div>
      <p>
        First line of contact between all libraries and company/CEO. Performing product research. Writing tutorials for in-house use, product information sheets, quotes, and questionnaires/information for clients. Creating new client files, updating individual libraries, and moving projects through the project management system. Writing and disseminating newsletters using mass mailers.
      </p>
    </section>

    <section>
      <div class="container">
        <div class="left">Assessment Writer</div>
        <div class="center">Maricopa County Education Service Agency</div>
        <div class="right">2011-2013</div>
      </div>
      <p>
        Writing the standardized test for all high school theatre students in Maricopa County based on the Arizona state standards.
      </p>
    </section>
    
    <section>
      <div class="container">
        <div class="left">Teacher, <span class="nowrap">Department Head</span>, Director, <span class="nowrap">Facilities Manager</span></div>
        <div class="center">North High School</div>
        <div class="right">2010-2013</div>          
      </div>
      <p>
        Teaching five different high school theatre classes daily for mainstream and International Baccalaureate students.  Head of the Performing Arts department for 2012-’13. Directing and overseeing production for two mainstage performances each year.  Responsible for scheduling, overseeing, and up keeping the theatre space. 
      </p>
    </section>

    <section>
      <div class="container">
        <div class="left">Respite Care Provider</div>
        <div class="center">Mentally Ill Kids in Distress</div>
        <div class="right">2008-2010</div>
      </div>
      <p>
        Providing respite for children with mental illnesses, both one-on-one and in summer camp format.  Writing progress notes for each contact with each child.
      </p>
    </section>
    
    <section>
      <div class="container">
        <div class="left">Census Taker</div>
        <div class="center">United States Census</div>
        <div class="right">2010</div>
      </div>
      <p>
        Going door to door recording US Census data from households that did not fill out the mailed version.
      </p>
    </section>
    
    <section>
      <div class="container">   
        <div class="left">Teacher</div>
        <div class="center">Osborn Middle School</div>
        <div class="right">2007-2009</div>
      </div>
      <p>
        Teaching and tutoring eighth grade students at a Title I school. Teaching pre-algebra in 2007.  In 2008 teaching special education resource English, with pull out services. Writing, reviewing, and ensuring implementation of Individualized Education Plans for a 40 student caseload. 
      </p>
    </section>

    <h2 id="edCert"> Education & Certifications </h2>
    
    <section class="items">
      <div class="left">Northern Arizona University</div>
      <div class="center">B.S. in Theatre Studies</div>
      <div class="right">2007</div>
    </section>
    
    <section class="items">
      <div class="left">Arizona Teaching Certification</div>
      <div class="center">6-8 English/7-12 Theatre</div>
      <div class="right">-2020</div>
    </section>
    
    <h2 id="refs">References upon request</h2>
    
  </body>
  
</html>